- if supported_period?(@period) || @chart_data
  - chart_data ||= @chart_data || {}
  - data_in_chart = chart_data[:data] || {}
  - chart_id = chart_data[:ele_id] || "m2m_chart"
  - colors = rand_colors(data_in_chart[:labels].size)
  
  .char-div style="width: #{chart_data[:width] || 800}px;"
    canvas id=chart_id

  javascript:
    const ctx = document.getElementById("#{chart_id}").getContext('2d');
    const myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: #{raw data_in_chart[:labels]|| []},
        datasets: [{
          label: "#{raw chart_data[:label]}",
          data: #{raw data_in_chart[:data]},
          backgroundColor: #{raw colors[:background_colors]},
          borderColor: #{raw colors[:border_colors]},
          borderWidth: 1
        }]
      },
      options: {
          scales: {
              y: {
                  beginAtZero: true
              }
          }
      }
    });
