h3 Task List

= form_for [:admin, single_obj] do |f|
  table class=table_class style="width: 500px"
    tr
      td
      td Task
    - RobotTask.all.each do |task|
      - sklss = klass.name.tableize.singularize
      tr
        /td = f.check_box "task_ids", {}, task.id, @robot.task_ids.include?(task.id)
        td = multi_check_box("#{sklss}[task_ids]", task.id, single_obj.task_ids.include?(task.id))
        td = task.worker
    tr: td = f.submit t(:save)
