- if collections.empty?                                                                                   
  .m10: h3 = t(:no_data)
- else 
  table class='#{table_class} list-table' 
    thead
      = table_th_columns(:th)
      th = t(:actions)
    - collections.each_with_index do |obj, i|
      tr
        = values_for_columns(obj)
        td width=200 
          = link_to_info(obj)
          = edit_with_delete(obj)
          = render partial: "#{controller_path}/actions", locals: {obj: obj} if klass.respond_to?(:special_actions)
  = paginate(collections)
