#navbar.navbar.navbar-inverse.navbar-fixed
  #navbar-inner.navbar-inner
    .container
      ul.nav.navbar-nav
        - if current_user
          - finance_menus.each do |title, links|
            - if links.is_a?(Hash)
              li.dropdown
                a.dropdown-toggle data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"
                  = title.to_s.titleize
                  span.caret
                ul.dropdown-menu role="menu" aria-labelledby="drop3"
                  - links.each do |sub_title, link|
                    = nav_menu sub_title, link
            - else
              = nav_menu title, links
        - else
          = nav_menu :login, PMS_ENDPOINT + "/new_financial_system"
