- if @period && request.path != root_path && @filter_columns.present?
  = form_tag request.path, method: :get, class: 'form-search well'
    = hidden_field_tag :source, params[:source] if params[:source]
    table
      - (@filter_columns || []).each do |k|
        tr
          th = "#{k.to_s.titleize}: "
          td 
            - if k == "period"
              = text_field_tag k.to_sym, session[:period] || @period || params[k.to_sym]
            - else
              = select_tag k, options_for_select(selectors_arr(k), params[k])
  
    .actions.btns
      = submit_tag "Filter", class: "btn btn-primary"
      = link_to_btn title: "Default", url: request.path
