h3 = "#{@income_accounts} Details"
table class=table_base_class
  tr.theader
    td JournalNo
    td Sales
    td Booking
    td Period
    td Amount
    td Amount Share
    td Covered Days
    td Daily 
  - @journal_entries.includes(:sales).each do |j|
    tr
      td = j.journal_no
      td = j.sales&.email
      td = "B#" + j.booking_id.to_s
      td = [j.journal_date, j.end_date].join("__")
      td = to_currency j.amount.round(2)
      td = to_currency (j.daily_amount * j.covered_in_period(@period)).round(2)
      td = [j.covered_in_period(@period), j.covered_days_with_unit].join("/")
      td = to_currency j.daily_amount.round(2)
