h3 Group By Sales
table class=table_base_class style="width: 1000px"
  tr.theader
    td Sales Email
    td Sales Name
    td Amount
  - @sales_data.each do |data|
    tr
      td = data[:sales]&.email
      td = data[:sales]&.full_name
      td = to_currency data[:amount]
