h3 = "#{@period}"
table class=table_base_class style="width: 1000px"
  tr
    td Period
    td Total Covered Days
    td TotalAmount
    td Average Daily
  tr
    td = @period
    td = @total_covered
    td 
      - total = @finance_data.sum(&:amount).round(2)
      - orgs = @journal_entries.org.map{|a| a.amount_in_period(@period)}.sum.round(2)
      - guests = @journal_entries.guest.map{|a| a.amount_in_period(@period)}.sum.round(2)
      - if total > 0
        = raw [to_currency(total), "Org: #{to_currency(orgs)} (#{(orgs/total*100).round(2)}%)", 
          "Guest: #{to_currency(guests)} (#{(guests/total*100).round(2)}%)"].join("<br>")
    td = to_currency (total / @total_covered).round(2) rescue "N/A"

= render "share/chart_bar", chart_data: data_to_chart(@finance_data, label: "#{@period} Rental Income")
= render "sales"
= render "details"
