h3 Pending or Partially Paid Invoices
table class=table_base_class
  tr.theader
    td BookingID
    td InvoiceID
    td Amount
    td LateFee
    td DueDate
    td Status
  - @unpaid.each do |invoice|
    tr 
      td = booking_id_mark invoice.booking_id
      td = invoice_id_mark invoice.id
      td = invoice.total_receivable
      td = invoice.late_fee
      td = invoice.due_date
      td = invoice.status

