h3 AR Overdue Summary
table#ar_summary.dataTable class=table_base_class data-order='[[ 2, "desc" ]]'
  thead.theader
    td = @is_for_user ? "Guest" : "Org"
    td Total Receiveable
    td Total Balance Due
    td.sorting_desc Total Balance Due Ratio
  - @data.each do |obj, invoices|
    - invoices = invoices.to_a.select{|i| i.booking.house.not_long_term?}
    - a = invoices.sum(&:total_receivable).to_d
    - b = a - invoices.sum(&:paid_amount)
    - if a > 0 && b > 0
      tr 
        td = link_to("#{obj.name}(#{obj.id})", "/ar_overdue_summary/#{obj.id}?source=#{params[:source]}")
        td = to_currency a
        td = to_currency(b)
        td 
          = a.to_d <= 0 ? 0 : ((b / a) * 100).round(2).to_s + "%"

javascript:
  $(document).ready(function(){
    $('#ar_summary').DataTable({
      pageLength: 100,
    });
  });
