h3 AR Overdue For #{@obj.name}
table#ar_summary.dataTable class=table_base_class data-order='[[ 6, "desc" ]]'
  thead.theader
    td Property
    td City
    td State
    td Guest
    td Lease Term
    td Invoices
    td Due Date
    td Memo
    td Invoice Amount
    td Balance Due
    td Status
  - @invoices.group_by(&:booking).each do |booking, invoices|
    - invoices = invoices.select{|i| i.booking.house.not_long_term?}
    - total = invoices.sum(&:total_receivable).to_d
    - paid_total = invoices.sum(&:paid_amount).to_d
    - if total > 0 && paid_total < total
      - address, city, state = booking.house.info_for_ar_due.split(",")
      tr 
        td = address
        td = city
        td = state
        td = booking.user&.full_name
        td = booking.lease_term
        td 
          - invoices.each do |iv|
            = iv.id
            br
        td 
          - invoices.each do |iv|
            = iv.due_date.strftime("%m/%d/%Y") rescue "None"
            br
        td 
          - invoices.each do |iv|
            = iv.memo
            br
        td.align-right
          - invoices.each do |iv|
            = to_currency iv.total_receivable
            br
        td.align-right
          - total_balance_due = 0
          - invoices.each do |iv|
            - balance_due = iv.balance_due
            - total_balance_due += balance_due
            = to_currency balance_due
            br
          .bold = "SubTotal: #{to_currency(total_balance_due)}"
        td 
          - invoices.each do |iv|
            = iv.status
            br
/javascript:
/  $(document).ready(function(){
/    $('#ar_summary').DataTable({
/      pageLength: 100,
/    });
/  });
css:
  .theader td {
    border-bottom: none!important;
  }
  #content, #ar_summary {
    width: 1650px!important;
  }
