table class=table_base_class style="width: 500px"
  tr
    td Period
    td TotalAmount
  tr
    td = @period
    td = to_currency @finance_data.sum(&:amount).round(2)

= render "share/chart_bar", chart_data: data_to_chart(@finance_data, label: "Total Daily Income")
