table class=table_base_class style="width: 600px"
  tr
    td Period
    td Total Amount
    td Reveived Amount
    td Refunded Amount
  tr
    td = @period
    td = to_currency @finance_data.sum(&:amount)
    td = to_currency @finance_data.sum(&:received_amount)
    td = to_currency @finance_data.sum(&:refunded_amount)

= render "share/chart_bar", chart_data: data_to_chart(@finance_data, label: @finance_type)

h3 Pending or Need to Refund
table class=table_base_class
  tr.theader
    td BookingID
    td Amount
    td Received
    td Refunded
    td Status
  - @finance_data.each do |deposit|
    - if !deposit.done?
      tr 
        td = booking_id_mark deposit.booking_id
        td = to_currency deposit.amount
        td = to_currency deposit.received_amount
        td = to_currency deposit.refunded_amount
        td = deposit.status_str

