.main-content
  .left-panel style="width: 30%;"
    h3 = @house.short_address
    table class=table_base_class
      tr
        td Landlord
        td = @house.landlord&.full_name
      tr
        td Total Journal Covered Days
        td = @rental_infos[:covered_days]
      tr
        td Total Rental Income
        td = @rental_infos[:total]
      tr
        td Daily Rent
        td = @rental_infos[:daily]
  .right-panel style="width: 65%;"
    h3 Bookings
    table class=table_base_class
      tr.theader
        td ID
        td Duration
        td CoveredDays
        td Source
        td Guest
        td Sales
      - @bookings.each do |b|
        tr
          td = "B##{b.id}"
          td = [b.check_in, b.check_out].join("__")
          td 
            = b.total_coverd_days
            - if _n = b.extension_covered_days > 0
              = "(Extension: #{_n})"
          td = b.booking_source
          td = b.user&.full_name
          td = b.creator&.full_name
