.main-content
  .left-panel style="width: 70%"
    h3 = "Houses Overview"
    - @houses.group_by(&:region).each do |region, hs|
      h4 = region
      table class=table_base_class
        tr.theader
          td House
          td AvaliableNow
          td Sold
          td SoldRate
          td RentalNow
          td RevenueNow
          td Average Daily
        - total_a, total_s = 0, 0
        - hs.each do |h|
          - total_a += h.avaliable_days
          - total_s += h.sold_days
          tr
           td = link_to h.short_address, "houses_stas/#{h.id}"
           td = h.avaliable_days
           td = h.sold_days
           td = Analysisable.percent(h.sold_days / h.avaliable_days.to_f)
           td = 
           td =
           td = 
        tr
          td colspan=10
            = "Summary: #{total_s}/#{total_a} = #{Analysisable.percent(total_s / total_a.to_f)}"
