table class=table_base_class style="width: 500px"
  tr
    td Period
    td Total Amount
    td Total Received
    td Invoice Nums
  tr
    td = @period
    td = to_currency @finance_data.sum(&:amount)
    td = to_currency @finance_data.sum(&:received_amount)
    td = @finance_data.count

= render "share/chart_bar", chart_data: data_to_chart(@finance_data, label: @finance_type)

h3 Pending or Partially Paid
table class=table_base_class
  tr.theader
    td BookingID
    td InvoiceNo.
    td Amount
    td Received
  - @finance_data.sort_by{|a|a.record_source_id.to_i}.reverse.each do |ir|
    - if ir.unpaid_all?
      tr 
        td = booking_id_mark ir.booking_id
        td = invoice_id_mark ir.invoice_id
        td = to_currency ir.amount
        td = to_currency ir.received_amount

