table class=table_base_class style="width: 500px;"
  tr
    td Period
    td = @period
  tr
    td TotalAmount
    td = to_currency @revenues.sum(&:amount)

= render "share/chart_bar", chart_data: data_to_chart(@revenues, label: @income_accounts)
