- @booking.quote_objects.each do |qo|
  table class=table_base_class style='width: 800px;'
    thead.theader
      td Type
      td Details
      td Amount
    - revenue_details = qo.extra[:revenue_details] || {}
    - %i(pure_rent modified_other_internal_costs shareable_revenue contract_ratio shareable_revenue_to_owner entire_periods).each do |k|
      tr
        td = k.to_s.titleize
        - if k == :modified_other_internal_costs
          td.text-right
            - sum_cost = 0
            - qo.lower_costs_records.map do |a|
              - sum_cost += a.internal_cost - a.amount
              - cost_details = "#{a.internal_cost} - #{a.amount} = #{a.internal_cost - a.amount}"
              = [a.fee_key.titleize, cost_details].join(": ")
              br
            /.text-right = "Sum: -#{to_currency sum_cost}"
          td.text-right = "-#{to_currency revenue_details[k] || sum_cost}"
        - else
          - if k == :entire_periods
              td.text-right colspan=10
                = qo.new_revenue_covered_days
          - else
              td.text-right colspan=10
                = to_currency revenue_details[k] || 0, k.to_s =~ /revenue|rent/
    tr
      td Daily Owner Revenue
      td.text-right colspan=10
        - vip_revenue_info = qo.extra[:vip_revenue_info] || {}
        - if vip_revenue_info.present?
          = "-#{to_currency vip_revenue_info[:daily_vip_owner_revenue]}((#{vip_revenue_info[:daily_revenue]} - #{vip_revenue_info[:daily_vip_threshold]}) * #{vip_revenue_info[:vip_landlord_ratio]} + #{vip_revenue_info[:daily_vip_threshold]} * #{vip_revenue_info[:ratio]})"
        - else
           - if qo.check_in < "2023-05-01".to_date
            = "Before 2023-05 :#{to_currency qo.old_daily_owner_revenue.round(2)}"
            = "After 2023-05 :#{to_currency qo.daily_owner_revenue.round}"
           - else
            = to_currency qo.daily_owner_revenue.round
