- @booking.quote_objects.each do |qo|
  table class=table_base_class style='width: 800px;'
    thead.theader
      td Type
      td Details
      td Amount
    - revenue_details = qo.extra[:revenue_details] || {}
    - revenue_details[:calculations]&.each do |key, val|
      - if !qo.is_a?(ContractAmendment) && key.to_s.downcase !~ /extension/ && val[:amount].to_d > 0
        tr 
          td = key.titleize
          td 
            - if is = val[:invoices]
              - is.each do |i|
                - invoice = Payment.find(i[:id])
                = ["Invoice##{i[:id]}", to_currency(invoice.principal_amount)].join(": ")
                br
            - elsif key.to_s == 'quotation_inclusive_not_shared'
              - val[:details]&.each do |_key, _val|
                = puts_hash_amounts _val[:line_items]
            - elsif key.to_s == 'quotation_exclusive_not_shared'
                = puts_hash_amounts val[:details]
            - elsif key.to_s == 'extension_not_shared'
                = puts_hash_amounts val[:line_items]
            - elsif key.to_s == 'period_fraction'
            - else
              = val
          td.text-right
            - if key.to_s == 'period_fraction'
              = val[:amount]
            - else
              = to_currency key.to_s =~ /not/ && val[:amount] > 0 ? -val[:amount] : val[:amount]
    - if qo.is_a?(ContractAmendment)
      tr
        td.extension-title colspan=10 = "Extension"
      tr
        td Invoices
        td 
          - if is = qo.invoices
            - is.each do |i|
              = ["Invoice##{i[:id]}", to_currency(i[:amount])].join(": ")
              br
        td.text-right = to_currency is.sum(&:amount)
      tr
        td Not Shared
        - _d = qo.fees_with_detail_for_revenue
        td = puts_hash_amounts _d
        td.text-right
          = to_currency _d.values.sum
    - %i(shareable_revenue contract_ratio shareable_revenue_to_owner entire_periods).each do |k|
      tr
        td = k.to_s.titleize
        td.text-right colspan=10 
          = to_currency revenue_details[k], k.to_s =~ /revenue/
    tr
      td Daily Owner Revenue
      td.text-right colspan=10 
        - vip_revenue_info = qo.extra[:vip_revenue_info] || {}
        - if vip_revenue_info.present?
          = "#{to_currency vip_revenue_info[:daily_vip_owner_revenue]} ((#{vip_revenue_info[:daily_revenue]} - #{vip_revenue_info[:daily_vip_threshold]}) * #{vip_revenue_info[:vip_landlord_ratio]} + #{vip_revenue_info[:daily_vip_threshold]} * #{vip_revenue_info[:ratio]})"
        - else
          = to_currency qo.daily_owner_revenue
