h3 OwnerRevenue
- special_days = [@booking.real_check_in_date, @booking.real_check_out_date]
h4 = "Duration: #{@booking.covers_desc}"
- if @booking.contract_type == 'fix_income'
  h3 Fix Income
- else
  .range-desc.m10 = range_desc(@booking.real_check_in_date..@booking.real_check_out_date)
  .algorithm
    = render @booking.old_quotation? ? 'old_revenue_details' : "new_revenue_details"
  .graph
    .base-range
      - @booking.quote_objects.each_with_index do |e, i|
        - (e.start_date..e.end_date).to_a.each_with_index do |day, j|
          - _pre = j == 0 && !e.is_a?(Quotation) ? "(Ext)" : nil
          - if day == @booking.real_check_in_date
            - _pre = "CheckIn"
          - elsif day == @booking.real_check_out_date
            - _pre = "CheckOut"
  
          span.day style="background: #{@ecolors[:background_colors][i]}" 
            - _pre = [_pre, day.strftime("%m/%d")].join(" ")
            - if day > "2023-05-01".to_date
              = raw [_pre, to_currency(e.daily_owner_revenue.round)].compact.join("<br>")
            - else
              = raw [_pre, to_currency((e.try(:old_daily_owner_revenue) || e.daily_owner_revenue).round)].compact.join("<br>")
css:
  .day {
    padding-left: 4px;
    height: 68px;
    display: inline-block;
    background: red;
    border: 1px solid white;
    color: white;
    margin: 2px;
    line-height: 34px;
    width: 120px;
  }
  .single-line {
    line-height: 68px!important;
  }
  .extension-title {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
  }
