- pms_size = @pms_invoice_ids.size
- qb_size = @qb_invoices.size
.main-content
  .left-panel style="width: 35%"
    h3 Compares Summary
    table class=table_base_class 
      tr.theader
        td Revenue Clearing Account
        - ra = User.revenue_clearing_account_balance
        td class="#{ra != 0 ? "error-amount" : ""}" = ra
      tr
        td Invoices Nums (PMS)
        td = pms_size
      tr
        td Invoices TotalAmount (PMS)
        - pms_amount = @base_invoices.sum(&:total_receivable).round(2)
        td = to_currency pms_amount
      tr
        td Invoices Nums (QB)
        td = qb_size
      tr
        td Invoices TotalAmount (QB)
        - qb_amount = @qb_invoices.sum(&:amount).round(2)
        td = to_currency qb_amount
      tr
        td Counts Differs
        td Diff: #{pms_size - qb_size}
      tr
        td Amount Differs
        td = "Diff: #{to_currency (pms_amount - qb_amount).round(2)}"
  
    h3 Lost in PMS or Error Amount
    table class=table_base_class 
      - diff_in_pms_invoice_id = (@qb_invoices.map(&:local_value) - @pms_invoice_ids.map(&:to_s)).uniq
      tr.theader
        td ID
        td InvoiceDate
        td Amount
      - @qb_invoices.where(local_value: diff_in_pms_invoice_id).each do |qbin|
        - if current_user.debugger?
          tr.none: td = qbin.qb_json
        tr
          td = qbin.local_value
          td = qbin.finance_date
          td = qbin.finance_amount
  .gap
  .right-panel style="width: 62%"
    h3 Lost in QB or Error Amount
    table class=table_base_class 
      tr.theader
        td Invoice No.
        td Status
        td Amount
        td AmountInQB
        td LateFee
        td Diff
        td LastSync
        td Booking ID
      - @base_invoices.includes(:booking).each do |invoice|
        - invoice_in_qb = @qb_invoices.find{|a| a.invoice_id.to_s == invoice.id.to_s}
        - compare_class = ""
        - compare_class = "lost-inqb" if !invoice_in_qb
        - compare_class = "error-amount" if invoice_in_qb && (invoice.total_receivable.to_s != invoice_in_qb.amount.to_s)
        - if compare_class.presence
          tr class=compare_class
            td = invoice.id
            td = invoice.status
            - aa = invoice.total_receivable || 0
            td = to_currency aa
            - ab = invoice_in_qb&.amount || 0
            td = to_currency ab
            td = invoice.late_fee
            td = to_currency (aa - ab).round(2).abs
            td = invoice_in_qb&.last_sync
            td = [invoice.booking_id, invoice.booking&.status].join(": ")
