- pms_je_nos = @pms_jes.map(&:journal_no).uniq
- qb_je_nos = @qb_jes.map(&:local_value).uniq
.main-content
  .left-panel
    h3 = "Compares (Diff: #{pms_je_nos.size - qb_je_nos.size})"
    table class=table_base_class 
      tr
        td JournalEntries Nums(PMS)
        td = pms_je_nos.size
      tr
        td JournalEntries TotalAmount(PMS)
        td = @pms_jes.sum(&:amount).round(2)
      tr
        td JournalEntries Nums(QB)
        td = qb_je_nos.size
      tr
        td JournalEntries TotalAmount(QB)
        td = @qb_jes.sum(&:amount).round(2)

    h3 Lost in PMS or diff Date
    table class=table_base_class
      - diff_in_pms_je_ids = (@qb_jes.map(&:local_value) - pms_je_nos).uniq
      tr.theader
        td JE No
        td Journal Date(QB)
        td Journal Date(PMS)
        td Amount
      - _jes = JournalEntry.where(journal_no: diff_in_pms_je_ids)
      - @qb_jes.where(local_value: diff_in_pms_je_ids).each do |qbje|
        - if current_user.debugger?
          tr.none: td = qbje.qb_json
        tr
          td = qbje.local_value
          td = qbje.finance_date
          td = _jes.find{|a|a.journal_no == qbje.local_value}&.journal_date
          td = qbje.finance_amount
  .gap
  .right-panel
    h3 Lost in QB or Error Amount
    table.left-table class=table_base_class
      tr
        td Journal No.
        td PMS Amount
        td QB Amount
        td Diff
        td ErrorMsg
      - @pms_jes.group_by(&:journal_no).each do |journal_no, jes|
        - qb_je = @qb_jes.find{|a| a.local_value == journal_no}
        - a = jes.sum(&:amount).round(2)
        - b = qb_je.amount.round(2) rescue 0
        - compare_class = ""
        - compare_class = "lost-inqb" if !qb_je
        - compare_class = "error-amount" if qb_je && a.to_s != b.to_s
        - if compare_class.presence
          tr class=compare_class
            td = journal_no
            td = a
            td = b
            td = (a-b).abs.round(2)
            td = compare_class
