h3 Welcome
/.union_id = union_id = session[:feishu_user_union_id]
.info 
  table class="#{table_class}"
    - (@lark_user.extra.dig("user_info") || {}).each do |key, value|
      tr class="#{LarkApp::DisplayedFields.include?(key) ? "" : "hide"}"
        td = key
        td = value
