.main-content
  .top-panel
    h3 style="margin-left: 20px;"= "Rental Overview"
    .padding20
        / - cache "global_rental_overview", expires_in: 5.minutes do
        table class=table_base_class
          tr.theader
            td Year
            - DailyIncome::MonthMapper.each do |m|
              td = m
          - years_data = {}
          - 2014.upto(Time.now.year).to_a.reverse.each do |year|
            - years_data[year] = 0
            tr
              td.theader = link_to year, month_overview_path(period: year), target: "_blank"
              - end_month = year == Date.current.year ? Date.current.month : 12
              - 1.upto(end_month).each do |month|
                - range = year_month(year, month)
                - total = DailyIncome.rental_income.natural_month(range, "day").sum(&:total).round(2)
                - years_data[year] += total
                td = link_to to_currency(total), month_overview_path(period: range), target: "_blank"
  .bottom-panel
    .left-panel
      h3 = "Overview"
      - @chart_data = {\
        label: "Rental Overview",
        width: 500,\
        data: {\
          labels: years_data.keys.reverse,
          data: years_data.values.reverse,
        }\
      }
      = render "share/chart_bar"

    /.clear
    .right-panel style="float: right;"
      h3 = "Counts"
      table class=table_base_class 
        tr
          td House.active
          td = House.active_native_listings.count
        tr
          td Booking Count
          td = Booking.booked.count
        tr
          td Invoice Count
          td = AccountRecord.invoices.count
        tr
          td Due Unpaid Invoice Count (Recent 2 years)
          - c = Invoice.unpaid.due_over_2_years.size
          td 
            = link_to c, unpaid_invoices_path
