<style>
  table, td {
    border: 1px solid #bbb;
  }
</style>
<table>
  <tr>
    <th> Status </th>
    <th> Task </th>
    <th> Assignee </th>
    <th> Reporter </th>
    <th> 预计上线时间</th>
  </tr>
  <% @tasks.each do |jt|  %>
    <tr>
      <td class='center'> <%= jt.status %> </td>
      <td> <%= jt.basic_lark_title %> </td>
      <td> <%= jt.short_assignee %> </td>
      <td> <%= jt.reporters.join(",") %> </td>
      <td> <%= jt.release_date %> </td>
    </tr>
  <% end %>
</table>
