/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.clear {
  clear: both;
}
.navbar {
  border-radius: 0px!important;
}
.body-container {
  padding: 10px 80px;
}
table {
  width: 300px;
}
.btn {
  margin: 10px;
}
.left-panel{
  float: left;
  width: 40%;
}
.right-panel{
  float: left;
  margin-left: 10px;
  width: 50%;
}
.gap {
  float: left;
  /* width: 10px; */
}
#footer {
  height: 50px;
}
input#period {
  width: 200px;
}
.padding20 {
  padding: 20px;
}
.data-error, .error-amount {
  background: red;
  color: white;
}
.lost-inqb {
  background: darkgrey;
  color: white;
}
.theader {
  font-weight: 600;
}
.bottom-panel {
  margin-left: 30px;
}
.word-break {
  word-break: break-all;
}
.none {
  display: none;
}
.margin, .m10 {
  margin: 10px;
}
.ml10 {
  margin-left: 10px;
}
.mr10 {
  margin-right: 10px;
}
.margin-box {
  margin: 20px 0;
}
.dataTables_wrapper .dataTables_filter {
  float: right;
  text-align: right;
}
.dataTables_wrapper .dataTables_length {
  float: left;
}
.inline {
  display: inline-block;
}
.block {
  display: block;
}
.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}
.bold {
  font-weight: bold;
}
.sorting_asc, .sorting, .sorting_desc {
  border-bottom: none!important;
}
.text-right {
  text-align: right;
}
