.main-content
  .left-panel style="width: 70%"
    h3 = "Extensions"
    - @extensions.group_by(&:booking_id).each do |bid, es|
      h4 = "B##{bid}"
      table class=table_base_class
        tr.theader
          td Duration
          td CoveredDays
          td InvoiceNo.
          td Amount
          td Daily
        - es.each do |e|
          tr
            td = [e.start_date, e.end_date].join("__")
            td = e.covered_days
            - if is = @invoices.select{|a| a.booking_id == e.booking_id && \
              a.start_date == e.start_date && a.end_date <= e.end_date}.presence
              td = is.map(&:id).join(",")
              - a = is.sum(&:amount)
              td = to_currency a
              td = to_currency (a / e.covered_days).round(2)
            - else
              td.data-error  = "Error Extension"
              td 0
              td 0
