= page_header @title || t(action_name) + t(obj_str)
.am-margin
  = form_for [:admin, single_obj], html:{ multipart: true , class: "am-form"} do |f|
    = render partial: 'share/error_messages', locals: { target: single_obj }
    table class='#{table_class}'
      = render partial: "share/attrs", locals: {f: f}
      = render partial: "share/permissions", locals: {f: f} 
    = save_and_return(f)
