<!DOCTYPE html>
<html>
  <head>
    <title><%= is_financial? ? "FinanceGod" : "M2M Tools" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "/bootstrap-3.4.1/css/bootstrap.min.css" %>
    <%= stylesheet_link_tag "/stylesheets/jquery.dataTables.min.css" %>
    <%= javascript_include_tag "/javascripts/chart.min.js", "/javascripts/jquery-3.6.0.min" %>
    <%= javascript_include_tag "/bootstrap-3.4.1/js/bootstrap.min.js" %>
    <%= javascript_include_tag "/javascripts/jquery.dataTables.min.js" %>
    <%= javascript_include_tag "/javascripts/tips.js" %>
  </head>

  <body>
    <%= render partial: "share/menus" %>
    <% if flash.keys.size > 0 %>
      <div class='alert alert-danger' style='margin: 50px auto;width: 800px'>
        <a class='close' data-dismiss='alert' href="#">X</a>
        <%= flash.keys.map{|a| flash[a]}.join(' ') %>
      </div>
    <% end %>
    <div id='content' class="body-container">
      <% if root_path == request.path %>
        <div class="welcome panel">Welcome: <%= current_user.email %></div>
      <% end %>
      <%= render 'share/periods_section' if current_user %>
      <%= yield %>
    </div>
    <div class="clear"></div>
    <%= render partial: "share/footer" %>
  </body>
</html>
